#productes {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.producte {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}