#productes {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 3rem;
    padding: 7%;
}

#productes a {
    text-decoration: none;
}

.producte{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 0px 4px 0px #A7A7A7;
    border-radius: 1rem;
    width: 150px;
    min-height: 180px;
}

.nom-producte {
    text-align: left;
    font-family: 'Jost';
    font-size: 1.7rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 125px;
    color: black;
}

.preu-mesinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.preu-producte {
    font-family: 'Jost';
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

.mesinfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #c2c5c7;
    border-radius: 8px;
}

.eliminar_fav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #c2c5c7;
    border-radius: 8px;
    padding: 2px;
}